body
{
    margin: 0;
    color: white;
    background-color: black;
}

.content
{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.main-content-grid
{
    width: 80%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left
{
    display: grid;
    gap: 10px;
    font-family: ubuntu, sans-serif;
}

.heading
{
    font-size: 30px;
    font-weight: 900;
}

.text-content
{
    color: rgb(132, 133, 145);
    font-weight: 500;
}

.right
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;

    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: rgb(144, 144, 144);
}

.language-logo
{
    width: 40px;
    height: auto;
}

.language-container
{
    display: flex;
    align-items: center;
}